* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d4d4d4;
}

.novo-candidato {
    /* height: 76vh; */
    background-color: #ccd;
}

h1 {
    text-align: center;
}

.new-usr {
    /* border: 1px solid red; */
    margin: 5px;
}

legend {
    margin: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.usr-data {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 8px;
}

.usr-data-i {
    width: 300px;
    margin: 5px;
    font-size: 1.1rem;
}

.usr-pwd {
    width: 150px;
    margin: 5px;
    font-size: 1.1;
}

.usr-select {
    text-align: center;
    width: 150px;
    margin: 5px;
}

.usr-curso {
    text-align: center;
    width: 320px;
    margin: 5px;

}

.usr-sem {
    text-align: center;
    width: 120px;
    margin: 5px;
}

.usr-turno {
    text-align: center;
    width: 120px;
    margin: 5px;
}

.usr-dt-inicio, .usr-dt-termino {
    width: 120px;
    margin: 5px;
}

.usr-cep, .usr-rua, .usr-comp,
.usr-num, .usr-bairro, .usr-cidade,
.usr-estado {
    margin: 5px;
    width: 200px;
}

.usr-estado {
    text-align: center;
    width: 200px;
}

.usr-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn-salvar, .btn-cancelar {
    padding: 5px;
    background-color: blue;
    border-radius: 8px;
    color: white;
}